[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-resources = "*"
ipdb = "*"
faker = "*"
jsonify = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
gunicorn = "*"
honcho = "*"
flask-bcrypt = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
